body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    width: 1500px;
    height: auto;
    margin: auto;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 25px;
}

header img {
    max-width: 100px;
    border-radius: 50%;
}

nav{
    padding-top: 20px;
}
.nav-list {
    list-style-type: none;
    padding: 50;
    margin: 0;
}

.nav-list li {
    display: inline-block;
    margin-right: 15px;
}

.nav-list li a {
    display: block;
    padding: 10px;
    background-color: none; /* Background color for each link */
    
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    background-color: #f9f9f9; /* Background color for each link on hover */
    color: red;
}

section {
    margin: 20px;
}

h2 {
    color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

li {
    margin-bottom: 10px;
}
p{
    text-align: center;
}
#Welcome {
    text-align: center; /* Center text horizontally */
    
}
