body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    width: 1500px;
    height: auto;
    margin: auto;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px;
}

header img {
    max-width: 100px;
    border-radius: 50%;
}

section {
    margin: 20px;
}

h2 {
    color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

li {
    margin-bottom: 10px;
}
p{
    text-align: center;
}
#Welcome {
    text-align: center; /* Center text horizontally */
    
}
